.container {
	/* align-content: center; */
	align-items: center;
	background: dodgerblue;
	border: 2px dashed black;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	height: 500px;
	/* flex-flow: wrap; */
}

.box {
	align-items: center;
	background-color: tomato;
	border: 2px dashed red;
	border-radius: 10px;
	color: white;
	display: flex;
	font: 32px sans-serif;
	height: 100px;
	justify-content: center;
}

.box2 {
	/* order: 10; */
	width: 200px;
	flex-grow: 1;
}

.box4 {
	/* order: -1; */
	width: 10px;
	flex-grow: 1;
}