.container {
	align-content: center;
	background: dodgerblue;
	border: 2px dashed black;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	height: 500px;
	flex-flow: wrap;
}

.box {
	background-color: tomato;
	border: 2px dashed red;
	border-radius: 10px;
	height: 100px;
	width: 500px;
}