.container {
	width: 600px;
	/* width: 300px; */
	border: 10px solid lightgray;
	display: grid;
	/* repeat에 반복하는 부분에 auto-fill (빈공간 그대로) or auto-fit (빈공간 너비 늘려서 채움) 적용 */
	/* 가변하는 (반응형) 경우에 사용하기 좋다 */
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-auto-rows: 100px;
}

.item {
	border: 10px solid red;
	font-size: 20px;
}